[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index-core = "~=0.13.2"
llama-index = "*"
openai = "*"
tree-sitter-language-pack = "*"
llama-index-readers-web = "*"
stopwords = "*"
html2text = "*"
chromadb = "*"
llama-index-vector-stores-chroma = "*"
llama-index-embeddings-huggingface = "*"
rich = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.13"
